html {
  min-height:100%;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c110a;
  text-align: center;
  /* background-color: #5d9caa; */
  background-image: linear-gradient(135deg, #5d9caa, #5d7daa)
  /* COMMON CSS HERE ACROSS DIFFERENT PAGES */
}