body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c110a;

  /* COMMON CSS HERE ACROSS DIFFERENT PAGES */
}