body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1c110a;
  text-align: center;
  background-color: #5d9caa;

  /* COMMON CSS HERE ACROSS DIFFERENT PAGES */
}